__pycache__/
./CandidateScoreGenerators/__pycache__/
*pfd*
*.h5*
*.png
*.pdf*
CandidateScoreGenerators/Candidate.py.bak
CandidateScoreGenerators/CandidateFileInterface.py.bak
CandidateScoreGenerators/DataProcessor_orig.py.bak
CandidateScoreGenerators/DataProcessor.py.bak
CandidateScoreGenerators/PFDFile.py.bak
CandidateScoreGenerators/PFDOperations.py.bak
CandidateScoreGenerators/PHCXFile_orig.py.bak
CandidateScoreGenerators/PHCXFile.py.bak
CandidateScoreGenerators/PHCXOperations.py.bak
CandidateScoreGenerators/ProfileOperations.py.bak
CandidateScoreGenerators/ProfileOperationsInterface.py.bak
CandidateScoreGenerators/ScoreGenerator.py.bak
CandidateScoreGenerators/SUPERBPHCXFile.py.bak
CandidateScoreGenerators/Utilities.py.bak
predict.txt
predict.txt.negative
CandidateErrorLog.txt
